body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #2c3333;
  text-align: center;
}

h1 {
  padding-top: 5rem;
  color: #e7f6f2;
  font-size: 4rem;
  font-family: "Bungee Shade", cursive;
}
@media (max-height: 650px) or (max-width: 630px) {
  h1 {
    padding-top: 2rem;
    font-size: 3rem;
  }
  .grid {
    padding: 1rem;
  }
  #g1,
  #g2,
  #g3,
  #g4,
  #g5,
  #g6,
  #g7,
  #g8,
  #g9 {
    width: 7rem;
    height: 5rem;
  }
  #but {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
  }
}
.grid {
  padding: 2rem;
  font-family: "Righteous", cursive;
}

#g1,
#g2,
#g3,
#g4,
#g5,
#g6,
#g7,
#g8,
#g9 {
  width: 7rem;
  height: 5rem;
  margin: auto;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 3rem;
  text-align: center;
  color: black;
  background-color: #a5c9ca;
}

#but {
  box-sizing: border-box;
  width: 9rem;
  height: 4rem;
  border: 1px solid #395b64;
  background-color: #395b64;
  color: white;
  font-size: 1.6rem;
}

#print {
  color: #a5c9ca;
  font-size: 20px;
}

#printres {
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
  color: #e7f6f2;
}
